@if (isAddingTask) 
{
    <app-new-task (cancel)="onCancelTask()" (add)="onSubmitTask($event)"/> 
}
<!-- // Display the new task form when isAddingTask is true -->

<section id="tasks">
    <header>
    <h2>{{name}}'s Tasks  </h2>
    <menu>
        <button (click)="onAddingTask()"> Add Task </button>
    </menu>
</header>
<ul>
    @for (task1 of selectedUserTasks(); track task1.id) 
    {
        <li>
            <app-task (complete)="onCompleteTask($event)" 
            [taskInput]="task1"/>
        </li>
    }
</ul>
</section>
